body, html {
    height: 100%;
    margin: 0;
}

.video {
    Display: flex;
    Height: 50%;
    Width: 100%; 
    Align-Items: center;
    Justify-Content: centre;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.space {
    height: 25%;
}

@media only screen and (max-width: 600px) {
    .background-image {
        background-image: url(./assets/img/background1.jpeg);
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100vh;
        position: relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@media only screen and (min-width: 600px) {
    .background-image {
        background-image: url(./assets/img/background2.jpeg);
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100vh;
        position: relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
} 
